.page-background {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  filter: saturate(0.95) contrast(0.95);
}
.page-background::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.bg-contest {
  background-image: url("/assets/bg-overall.jpg");
}
.showing-range {
  white-space: pre-line;
  font-size: 0.85em;
  color: #555;
}

.btn.secondary {
  background-color: #f1f1f1;
  color: #333;
  border: 1px solid #ccc;
}
.btn.secondary:hover {
  background-color: #e2e2e2;
}
